@value makerWhite, makerGreen, makerLightGrey from '../../common/color.css';
@value mediaQuery from '../../common/size.css';

.home {
  width: 80rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homeContent {
  background-color: makerWhite;
  display: flex;
  flex: 1;
}

@media screen and (max-width: mediaQuery) {
  .homeContent {
    flex-direction: column;
  }
}
