@value makerWhite, makerGreen, makerLightGrey from '../../common/color.css';
@value mediaQuery from '../../common/size.css';

.home {
  width: 80rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homeContent {
  background-color: makerWhite;
  display: flex;
  flex: 1;
}

.cardMaker {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  border: 1px solid makerLightGrey;
}

.cardPreview {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
}

.cardMakerTitle {
  color: makerGreen;
  margin-right: 10px;
}

.cardPreviewTitle {
  color: makerGreen;
}

@media screen and (max-width: mediaQuery) {
  .homeContent {
    flex-direction: column;
  }
}